<mat-drawer-container class="d-flex w-100 h-100">
  <mat-drawer mode="side" opened>
    <mat-selection-list [multiple]="false" (selectionChange)="openChat($event)">
      <mat-list-option *ngFor="let chat of (messages$ | async)" [value]="chat.id">
        <app-chat-preview [users]="chat.users"></app-chat-preview>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content class="w-100 p-2">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
